{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid landing text-white "> 
  <div style="padding-top:150px;float: left;">
    <h1 class="animated bounceInDown" style="font-family: 'Abril Fatface', cursive;font-size: 60px;animation-delay: 0.2s;">Welcome to Epicurious</h1>
    <h3 class="animated fadeInRight" style="font-family: 'IBM Plex Serif', serif;font-size: 40px;animation-delay: 1.5s;padding-left: 60px">Need Healthy Food Recipes?</h3>
   
  <br><br>
  <div class="animated flipInX" style="animation-delay: 2.5s;padding-left: 150px">
  <h3 style="font-family: 'IBM Plex Serif', serif;">Get your recipes here</h3>
  <a href="{% url 'food' %}" class="btn btn-md btn-info">View Recipes</a>
</div>
  
  </div>
</div><br>
<div class="container text-center">
  <h3 class="text-center" style="font-family: 'Cinzel', serif;">Because we are always cooking something delicious</h3>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/static/images/img7.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-family: 'Cinzel', serif;">Make It</h5>
        <p class="card-text">Our pantry is stocked with very many bites of inspiration to help guide you from inspiration to celebration with your next kitchen creation.</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/images/img9.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-family: 'Cinzel', serif;">Love It</h5>
        <p class="card-text">Did you make it? Love it! Then pass it on. Post recipes, photos, reviews, I made its, collections and more telling your food tribe about your latest mouthwatering masterpiece.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/images/img10.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="font-family: 'Cinzel', serif;">Share It</h5>
        <p class="card-text">Sharing foods you crave and following the cooks you love helps us to feed your feed with lots of recipe awesomeness handpicked just for you.</p>
      </div>
    </div>
  </div>
</div><br>
<div class="container-fluid text-center">
  <div class="jumbotron myjumbotron">
    <h3 style="font-family: 'IBM Plex Serif', serif;">Our Newest Recipes</h3>
    <hr>
    <div class="card-deck">
      <div class="card" style="border-radius: 60%">
        <img class="card-img-top" src="/static/images/img7.jpg" alt="Card image cap" style="border-radius: 60%">

      </div>
      <div class="card" style="border-radius: 60%">
        <img class="card-img-top" src="/static/images/img4.jpg" alt="Card image cap" style="border-radius: 60%">

      </div>
      <div class="card" style="border-radius: 60%">
        <img class="card-img-top" src="/static/images/img6.jpg" alt="Card image cap" style="border-radius: 60%">

      </div>
      <div class="card" style="border-radius: 60%">
          <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" style="border-radius: 60%">
  
        </div>
        <div class="card" style="border-radius: 60%">
            <img class="card-img-top" src="/static/images/img2.jpg" alt="Card image cap" style="border-radius: 60%">
    
          </div>
    </div>
  </div>
</div>


<div>
<footer class="page-footer light-blue center-on-small-only">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 sm-4"><br>
          <p><a href="tel:+254703694473"><b>General Enquiries:</b> +254 703 694 473</a></p>
          <p><a href="https://wa.me/254703694473"><b>WhatsApp Enquiries:</b> <i class="fab fa-whatsapp"></i> +254 703 694 473</a></p>
          <p><b>Email:</b> epicurious@gmail.com</p>
          
        </div>

          

          <hr class="hidden-md-up">

          <div class="col-md-4">
            <h5 class="text-center" style="font-family: 'IBM Plex Serif', serif;">Subscribe to our Newsletter:</h5><hr>
            <form  action="{%url 'index'%}" method="post">
              {%csrf_token%}
              {{letterForm|crispy}}
              
              <input type="submit" value="Subscribe">
            </form>
          </div>
          

      </div>
  </div>
  

  <hr>

  
  <h4 class="text-center" style="font-family: 'IBM Plex Serif', serif;">Feel free to follow us:</h4><br>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="https://facebook.com/epicurious/" class="btn-floating btn-small btn-fb">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com" class="btn-floating btn-small btn-tw">
        <i class="fab fa-twitter fa-2x ml-3"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://google.com/" class="btn-floating btn-small btn-gplus">
        <i class="fab fa-google-plus-g fa-2x ml-3"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://instagram.com/epicurious/" class="btn-floating btn-small btn-ins">
        <i class="fab fa-instagram fa-2x ml-3"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com" class="btn-floating btn-small btn-git">
        <i class="fab fa-github fa-2x ml-3"></i>
      </a>
    </li>
  </ul>
  <div class="footer-copyright light-blue text-center" style="height: 30px">
      <div class="container-fluid">
          © 2019 Copyright: <a href="https://instagram.com/epicurious/"> Epicurious </a>

      </div>
  </div>
  

</footer></div>






<style>
  .landing {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/static/images/bg-top5.jpg)center/ cover no-repeat fixed;
    height: 100vh;
  }
  /* .myjumbotron{
    background-color: rgb(0, 195, 255);
  } */
  .pixelated {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
.asteriskField{
  display: none;
}
</style>
{% endblock %}



{% block scripts %} 
{{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}