{% extends 'base.html'%}
{% load static %}
{% block content%}
<h2 style="color:lightseagreen">food images and names</h2>
<div class="container-fluid">

  <div class="row">
    {% for recipe in all_recipes%}
    
    <div class="col-md-3"><br>
      <div class="card card-cascade">
        <div class="view overlay image-box ">
          <a href="{% url 'single-recipe' recipe.id%}"><img class="card-img-top" src="{{recipe.dish_image.url}}" alt="Card image cap" height="200px"></a>
            

          <a href="">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        
        <div class="card-body card-body-cascade">
          
          <h4 class="font-weight-bold card-title">{{recipe.name}}</h4>

          <a href="{% url 'single-recipe' recipe.id%}" class="btn btn-sm btn-danger">View Recipe</a>

        </div>

      </div>
    </div>
  
    {% endfor %}
  </div><br>
  
</div>


<style>
  .overlay img:hover{
  transform: scale(1.1);
  transition: transform .5s;
}
</style>
{% endblock%}